.App {
  text-align: center;
  margin:0 auto;
}
/* 
.fullWidth {
  width: 100%;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-nav {
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #508fca;
}

.App-nav ul {
  padding: 0;
  margin: 0;
}

.App-nav button {
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.App-nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 32 px;
  font-size: 24px;
  border-bottom: 4px solid transparent;
}

.App-content {
  margin: 0 20px;
}

.App-nav-item button:hover {
  color: #999;
}

.App-nav-item.selected {
  border-bottom-color: #ffaa3f;
}
