.CartPage-items{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.CartPage-items li{
    list-style: none;
}
.CartItem-count{
    padding: 5px 10px;
    border: 1px solid  #ccc;
}
.CartItem-controls{
    margin-left: 15%;
    margin-right: 15%;
}

.CartItem-addOne:hover,
.CartItem-removeOne:hover{
      background-color: rgb(128, 98, 69);
}

button .CartItem-addOne{
    border-style: solid;
    padding: 5px 10px;
    background: #fff5;
    margin-bottom: 5px;
    font-size: 14px;
    border: 2px solid #36322c;
    border-radius: 3px;
    cursor: pointer;
}

button .CartItem-removeOne{
    border-style: solid;
    padding: 5px 10px;
    background: #fff;
    margin-bottom: 5px;
    font-size: 14px;
    border: 2px solid #36322c;
    border-radius: 3px;
    cursor: pointer;
}
