.ItemPage-items{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Alike', serif;
}

.ItemPage-items li{
    list-style: none;
    margin-bottom: 20px;
    font-family: 'Alike', serif;
}

button.Item-addToCart{
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alike', serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

h1.ParallaxHead{
    font-family: 'Alike', serif;
    font-size: 36px;
    font: white;
  }

  .Item-remove{
   margin-left:15%;
   margin-right: 15%;
  }