.Item{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-family: 'Alike', serif;
}

.Item-image{
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}
.Item-title{
    font-weight:bold;
    margin-bottom: 0.4em;
}

.Item-price{
    text-align: right;
    font-size: 14px;
    color: #555;
}
.Item-addToCart{
    margin-bottom: 3px;
    font-size: 14px;
    border: 2px solid #0f0d09;
    border-radius: 2px;
    cursor: pointer;
}
.Item-addToCart:hover{
    background-color: rgb(236, 189, 144);
}
.Item-addToCart:active{
    background-color:rgb(3, 3, 48);
    color:#fff;
    outline:none;
}
/* .Item-left{
    flex: 1;
}
.Item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    font-family: 'Alike', serif;
   
    
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:rgb(196, 199, 202);
  }
  .card > .img-container > img {
    width: 100%
  }
  
  .card > .content {
    font-family: 'Alike', serif;
    font-size: 15px;
    color: black;
  }
  
  .card > .content > ul {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10%;
    margin-right:10%;
  }
  
  .card > .content > ul > li {
    margin-top: 10px;
  }