/* #footer {
  width: 100%;
  background-color: #f7f7f9;
} */

.title {
  margin-top: 15px;
  text-align: center;
}

.footer {
  width: 100% !important;
  margin-bottom: -10;
  height: auto !important;
}

.footerP, .footerH {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}




