/* #footer {
  width: 100%;
  background-color: #f7f7f9;
} */

.title {
  margin-top: 15px;
  text-align: center;
}

.footer {
  width: 100% !important;
  margin-bottom: -10;
  /* text-align: center; */
}

.footerP, .footerH {
  text-align: center;
}


