.noteCard {
    background: #fff;
    border-radius: 2px;
    height: auto !important;
    margin: 1rem;
    position: relative;
    width: 60px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center !important;
    padding: 17px;
  }
  
  .card > .content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
  }
  

  .noteText {
    font-size: 20px;
  }

  .noteName {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
  }